[submodule "evmjit"]
	path = evmjit
	url = https://github.com/ethereum/evmjit
	branch = develop
[submodule "test/tests"]
	path = test/jsontests
	url = https://github.com/ethereum/tests.git
[submodule "hera"]
	path = hera
	url = https://github.com/ewasm/hera
[submodule "ethereum_p2p"]
	path = ethereum_p2p
	url = git@github.com:ogolosovskiy/ethereum_p2p.git
